  {% extends 'bcpp/base.html' %}

  {% load staticfiles %}
  {% load crispy_forms_tags %}

  {% block extra-scripts %}
    <script type="text/javascript" src="{% static "" %}"></script>
  {% endblock extra-scripts %}


  {% block settings_url %}
  <li id="li-topbar-settings"><a class="glyphicon glyphicon-wrench" title="settings" href="#"></a></li>
  <li id="li-topbar-settings"><a class="fa fa-group" title="settings" href="#"></a></li>
  {% endblock settings_url %}

  {% block main %}

   <div class="container">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-info">
              <div class="panel-heading"><a title="add plot" href="#" class="btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Add Clinic Eligibility</a>
                <span class="pull-right">{% crispy form %}</span></div>
                <div class="panel-body">
                  {% if results %}
                    <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                      <thead>
                      		<th>#</th>
                      		<th>Dashboard</th>
                      		<th>Eligibility</th>
                      		<th>Refusal</th>
                      		<th>Loss</th>
                      		<th>First Name</th>
                      		<th>Last Name</th>
                      		<th>Initials</th>
                      		<th>Gender</th>
                      		<th>Age</th>
                      		<th>Consent Date</th>
                      		<th>Date Created</th>
                      </thead>
                      <tbody>
                        {% for obj in results %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a role="button" title="Go to dashboard" class="btn btn-sm btn-success" href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></td>
                            <td><a role="button" class="btn btn-sm btn-success" href="#"><span class="glyphicon glyphicon-pencil"></span> Edit Eligibility</a></td>
                            <td>refusal</td>
                            <td>loss</td>
                            <td>fname</td>
                            <td>lname</td>
                            <td>M</td>
                            <td>age</td>
                            <td>{{ obj.consent_datetime|date:"Y-m-d H:i" }}</td>
                            <td>{{ obj.created|date:"Y-m-d H:i" }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% include 'paginator.html' %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
    </div>

{% endblock main %}