Django
django-crispy-forms
git+https://github.com/erikvw/django-crypto-fields.git
git+https://github.com/erikvw/django-revision.git
git+https://github.com/botswana-harvard/edc-appointment.git
python-dateutil
pytz
git+https://github.com/botswana-harvard/edc-base.git
git+https://github.com/botswana-harvard/edc-subset-manager.git
git+https://github.com/botswana-harvard/edc-device.git
git+https://github.com/botswana-harvard/plot.git
git+https://github.com/botswana-harvard/edc-constants.git
git+https://github.com/botswana-harvard/edc-consent.git
git+https://github.com/botswana-harvard/edc-identifier.git
git+https://github.com/botswana-harvard/household.git
git+https://github.com/botswana-harvard/member.git
git+https://github.com/botswana-harvard/survey.git
git+https://github.com/botswana-harvard/edc-label.git
git+https://github.com/botswana-harvard/edc-map.git
git+https://github.com/botswana-harvard/edc-metadata.git
git+https://github.com/botswana-harvard/edc-visit-tracking.git
git+https://github.com/botswana-harvard/edc-visit-schedule.git
git+https://github.com/botswana-harvard/edc-protocol.git
git+https://github.com/botswana-harvard/edc-timepoint.git
git+https://github.com/botswana-harvard/bcpp-map.git
git+https://github.com/botswana-harvard/bcpp-subject.git
git+https://github.com/botswana-harvard/edc-registration.git
git+https://github.com/botswana-harvard/edc-rule-groups.git
git+https://github.com/botswana-harvard/edc-offstudy.git
git+https://github.com/botswana-harvard/edc-quota.git
git+https://github.com/botswana-harvard/getresults-identifier.git
git+https://github.com/botswana-harvard/edc-locator.git
git+https://github.com/botswana-harvard/edc-admin-exclude.git
git+https://github.com/botswana-harvard/edc-field-label.git
git+https://github.com/botswana-harvard/edc-lab.git
