git+https://github.com/botswana-harvard/bcpp-lab.git@master#egg=bcpp_lab
git+https://github.com/botswana-harvard/bcpp-map.git@master#egg=bcpp_map
git+https://github.com/botswana-harvard/bcpp-subject.git@master#egg=bcpp_subject
git+https://github.com/botswana-harvard/edc-appointment.git@master#egg=edc_appointment
git+https://github.com/botswana-harvard/edc-base.git@master#egg=edc_base
git+https://github.com/botswana-harvard/edc-consent.git@master#egg=edc_consent
git+https://github.com/botswana-harvard/edc-constants.git@master#egg=edc_constants
git+https://github.com/botswana-harvard/edc-dashboard.git@master#egg=edc_dashboard
git+https://github.com/botswana-harvard/edc-device.git@master#egg=edc_device
git+https://github.com/botswana-harvard/edc-field-label.git@master#egg=edc_field_label
git+https://github.com/botswana-harvard/edc-identifier.git@master#egg=edc_identifier
git+https://github.com/botswana-harvard/edc-lab.git@master#egg=edc_lab
git+https://github.com/botswana-harvard/edc-label.git@master#egg=edc_label
git+https://github.com/botswana-harvard/edc-locator.git@master#egg=edc_locator
git+https://github.com/botswana-harvard/edc-map.git@master#egg=edc_map
git+https://github.com/botswana-harvard/edc-metadata.git@master#egg=edc_metadata
git+https://github.com/botswana-harvard/edc-offstudy.git@master#egg=edc_offstudy
git+https://github.com/botswana-harvard/edc-protocol.git@master#egg=edc_protocol
git+https://github.com/botswana-harvard/edc-quota.git@master#egg=edc_quota
git+https://github.com/botswana-harvard/edc-registration.git@master#egg=edc_registration
git+https://github.com/botswana-harvard/edc-search.git@master#egg=edc_search
git+https://github.com/botswana-harvard/edc-subset-manager.git@master#egg=edc_subset_manager
git+https://github.com/botswana-harvard/edc-sync-files.git@master#egg=edc_sync_files
git+https://github.com/botswana-harvard/edc-sync.git@master#egg=edc_sync
git+https://github.com/botswana-harvard/edc-rest.git@master#egg=edc_rest
git+https://github.com/botswana-harvard/edc-timepoint.git@master#egg=edc_timepoint
git+https://github.com/botswana-harvard/edc-visit-schedule.git@master#egg=edc_visit_schedule
git+https://github.com/botswana-harvard/edc-visit-tracking.git@master#egg=edc_visit_tracking
git+https://github.com/botswana-harvard/enumeration.git@master#egg=enumeration
git+https://github.com/botswana-harvard/getresults-identifier.git@master#egg=getresults_identifier
git+https://github.com/botswana-harvard/household.git@master#egg=household
git+https://github.com/botswana-harvard/member.git@master#egg=member
git+https://github.com/botswana-harvard/plot.git@master#egg=plot
git+https://github.com/botswana-harvard/survey.git@master#egg=survey
git+https://github.com/erikvw/django-crypto-fields.git@master#egg=django_crypto_fields
git+https://github.com/erikvw/django-revision.git@master#egg=django_revision

# make sure pip is updated!
git+https://github.com/xhtml2pdf/xhtml2pdf.git
