git+https://github.com/botswana-harvard/bcpp-community.git@0.1.3#egg=bcpp_community
git+https://github.com/botswana-harvard/correct-consent.git@0.1.0#egg=correct_consent
git+https://github.com/botswana-harvard/bcpp-consent.git@0.1.4#egg=bcpp_consent
git+https://github.com/botswana-harvard/bcpp-fabric.git@0.1.3#egg=bcpp_fabric
git+https://github.com/botswana-harvard/bcpp-follow.git@0.1.10#egg=bcpp_follow
git+https://github.com/botswana-harvard/bcpp-labs.git@0.1.7#egg=bcpp_labs
git+https://github.com/botswana-harvard/bcpp-metadata-rules.git@0.1.9#egg=bcpp_metadata_rules
git+https://github.com/botswana-harvard/bcpp-reference.git@0.1.8#egg=bcpp_reference
git+https://github.com/botswana-harvard/bcpp-referral.git@0.1.5#egg=bcpp_referral
git+https://github.com/botswana-harvard/bcpp-report.git@0.1.3#egg=bcpp_report
git+https://github.com/botswana-harvard/bcpp-status.git@0.1.13#egg=bcpp_status
git+https://github.com/botswana-harvard/bcpp-subject.git@0.1.53#egg=bcpp_subject
git+https://github.com/botswana-harvard/bcpp-subject-dashboard.git@0.1.8#egg=bcpp_subject_dashboard
git+https://github.com/botswana-harvard/bcpp-subject-form-validators.git@0.1.7#egg=bcpp_subject-form_validators
git+https://github.com/botswana-harvard/bcpp-visit-schedule.git@0.1.3#egg=bcpp_visit_schedule
git+https://github.com/erikvw/django-crypto-fields.git@0.1.12#egg=django_crypto_fields
git+https://github.com/erikvw/django-revision.git@0.1.13#egg=django_revision
git+https://github.com/botswana-harvard/edc-appointment.git@0.2.10#egg=edc_appointment
git+https://github.com/botswana-harvard/edc-base.git@0.2.16#egg=edc_base
git+https://github.com/botswana-harvard/edc-call-manager.git@0.2.1#egg=edc_call_manager
git+https://github.com/botswana-harvard/edc-consent.git@0.2.7#egg=edc_consent
git+https://github.com/botswana-harvard/edc-constants.git@0.2.6#egg=edc_constants
git+https://github.com/botswana-harvard/edc-dashboard.git@0.2.6#egg=edc_dashboard
git+https://github.com/botswana-harvard/edc-device.git@0.2.4#egg=edc_device
git+https://github.com/botswana-harvard/edc-identifier.git@0.2.8#egg=edc_identifier
git+https://github.com/botswana-harvard/edc-lab.git@0.2.15#egg=edc_lab
git+https://github.com/botswana-harvard/edc-lab-dashboard.git@0.1.5#egg=edc_lab_dashboard
git+https://github.com/botswana-harvard/edc-label.git@0.1.3#egg=edc_label
git+https://github.com/botswana-harvard/edc-locator.git@0.2.3#egg=edc_locator
git+https://github.com/botswana-harvard/edc-map.git@0.3.10#egg=edc_map
git+https://github.com/botswana-harvard/edc-metadata.git@0.2.10#egg=edc_metadata
git+https://github.com/botswana-harvard/edc-metadata-rules.git@0.1.7#egg=edc_metadata_rules
git+https://github.com/botswana-harvard/edc-model-wrapper.git@0.1.5#egg=edc_model_wrapper
git+https://github.com/botswana-harvard/edc-offstudy.git@0.2.1#egg=edc_offstudy
git+https://github.com/botswana-harvard/edc-protocol.git@0.1.4#egg=edc_protocol
git+https://github.com/botswana-harvard/edc-reference.git@0.1.12#egg=edc_reference
git+https://github.com/botswana-harvard/edc-registration.git@0.2.9#egg=edc_registratio
git+https://github.com/botswana-harvard/edc-rest.git@0.1.0#egg=edc_rest
git+https://github.com/botswana-harvard/edc-search.git@0.1.3#egg=edc_search
git+https://github.com/botswana-harvard/edc-sync.git@0.2.25#egg=edc_sync
git+https://github.com/botswana-harvard/edc-sync-files.git@0.1.15#egg=edc_sync_files
git+https://github.com/botswana-harvard/edc-timepoint.git@0.1.1#egg=edc_timepoint
git+https://github.com/botswana-harvard/edc-visit-schedule.git@0.2.5#egg=edc_visit_schedule
git+https://github.com/botswana-harvard/edc-visit-tracking.git@0.2.8#egg=edc_visit_tracking
git+https://github.com/botswana-harvard/enumeration.git@0.1.16#egg=enumeration
git+https://github.com/botswana-harvard/household.git@0.1.14#egg=household
git+https://github.com/botswana-harvard/household-dashboard.git@0.1.5#egg=household_dashboard
git+https://github.com/botswana-harvard/member.git@0.1.21#egg=member
git+https://github.com/botswana-harvard/member-clone.git@0.1.2#egg=member_clone
git+https://github.com/botswana-harvard/member-dashboard.git@0.1.3#egg=member_dashboard
git+https://github.com/botswana-harvard/member-form-validators.git@0.1.4#egg=member_form_validators
git+https://github.com/botswana-harvard/plot.git@0.1.16#egg=plota
git+https://github.com/botswana-harvard/plot-dashboard.git@0.1.3#egg=plot_dashboard
git+https://github.com/botswana-harvard/plot-form-validators.git@0.1.1#egg=plot_form_validators
git+https://github.com/botswana-harvard/survey.git@0.1.5#egg=survey
