git+https://github.com/botswana-harvard/bcpp-report.git@develop#egg=bcpp_report
git+https://github.com/botswana-harvard/bcpp-follow.git@develop#egg=bcpp_follow
git+https://github.com/botswana-harvard/bcpp-subject.git@develop#egg=bcpp_subject
git+https://github.com/botswana-harvard/edc-appointment.git@develop#egg=edc_appointment
git+https://github.com/botswana-harvard/edc-base.git@develop#egg=edc_base
git+https://github.com/botswana-harvard/edc-consent.git@develop#egg=edc_consent
git+https://github.com/botswana-harvard/edc-constants.git@develop#egg=edc_constants
git+https://github.com/botswana-harvard/edc-dashboard.git@develop#egg=edc_dashboard
git+https://github.com/botswana-harvard/edc-device.git@develop#egg=edc_device
git+https://github.com/botswana-harvard/edc-identifier.git@develop#egg=edc_identifier
git+https://github.com/botswana-harvard/edc-lab.git@develop#egg=edc_lab
git+https://github.com/botswana-harvard/edc-label.git@develop#egg=edc_label
git+https://github.com/botswana-harvard/edc-locator.git@develop#egg=edc_locator
git+https://github.com/botswana-harvard/edc-map.git@develop#egg=edc_map
git+https://github.com/botswana-harvard/edc-metadata.git@develop#egg=edc_metadata
git+https://github.com/botswana-harvard/edc-offstudy.git@develop#egg=edc_offstudy
git+https://github.com/botswana-harvard/edc-protocol.git@develop#egg=edc_protocol
git+https://github.com/botswana-harvard/edc-registration.git@develop#egg=edc_registration
git+https://github.com/botswana-harvard/edc-sync-files.git@develop#egg=edc_sync_files
git+https://github.com/botswana-harvard/edc-sync.git@develop#egg=edc_sync
git+https://github.com/botswana-harvard/edc-rest.git@develop#egg=edc_rest
git+https://github.com/botswana-harvard/edc-timepoint.git@develop#egg=edc_timepoint
git+https://github.com/botswana-harvard/edc-visit-schedule.git@develop#egg=edc_visit_schedule
git+https://github.com/botswana-harvard/edc-visit-tracking.git@develop#egg=edc_visit_tracking
git+https://github.com/botswana-harvard/enumeration.git@develop#egg=enumeration
git+https://github.com/botswana-harvard/getresults-identifier.git@develop#egg=getresults_identifier
git+https://github.com/botswana-harvard/household.git@develop#egg=household
git+https://github.com/botswana-harvard/member.git@develop#egg=member
git+https://github.com/botswana-harvard/plot.git@develop#egg=plot
git+https://github.com/botswana-harvard/survey.git@develop#egg=survey
git+https://github.com/erikvw/django-crypto-fields.git@develop#egg=django_crypto_fields
git+https://github.com/erikvw/django-revision.git@develop#egg=django_revision
