git+https://github.com/botswana-harvard/bcpp-community@master#egg=bcpp-community
git+https://github.com/botswana-harvard/bcpp-consent.git@master#egg=bcpp_consent
git+https://github.com/botswana-harvard/bcpp-follow.git@master#egg=bcpp_follow
git+https://github.com/botswana-harvard/bcpp-labs.git@master#egg=bcpp_labs
git+https://github.com/botswana-harvard/bcpp-metadata-rules@master#egg=bcpp-metadata-rules
git+https://github.com/botswana-harvard/bcpp-reference.git@master#egg=bcpp_reference
git+https://github.com/botswana-harvard/bcpp-referral@master#egg=bcpp-referral
git+https://github.com/botswana-harvard/bcpp-report.git@master#egg=bcpp_report
git+https://github.com/botswana-harvard/bcpp-status.git@master#egg=bcpp_status
git+https://github.com/botswana-harvard/bcpp-subject-dashboard.git@master#egg=bcpp_subject_dashboard
git+https://github.com/botswana-harvard/bcpp-subject-form-validators.git@master#egg=bcpp_subject_form_validators
git+https://github.com/botswana-harvard/bcpp-subject.git@master#egg=bcpp_subject
git+https://github.com/botswana-harvard/bcpp-visit-schedule.git@master#egg=bcpp_visit_schedule
git+https://github.com/botswana-harvard/edc-appointment.git@master#egg=edc_appointment
git+https://github.com/botswana-harvard/edc-base.git@master#egg=edc_base
git+https://github.com/botswana-harvard/edc-consent.git@master#egg=edc_consent
git+https://github.com/botswana-harvard/edc-constants.git@master#egg=edc_constants
git+https://github.com/botswana-harvard/edc-dashboard.git@master#egg=edc_dashboard
git+https://github.com/botswana-harvard/edc-device.git@master#egg=edc_device
git+https://github.com/botswana-harvard/edc-identifier.git@master#egg=edc_identifier
git+https://github.com/botswana-harvard/edc-lab-dashboard.git@master#egg=edc_lab_dashboard
git+https://github.com/botswana-harvard/edc-lab.git@master#egg=edc_lab
git+https://github.com/botswana-harvard/edc-label.git@master#egg=edc_label
git+https://github.com/botswana-harvard/edc-locator.git@master#egg=edc_locator
git+https://github.com/botswana-harvard/edc-map.git@master#egg=edc_map
git+https://github.com/botswana-harvard/edc-metadata-rules.git@master#egg=edc_metadata_rules
git+https://github.com/botswana-harvard/edc-metadata.git@master#egg=edc_metadata
git+https://github.com/botswana-harvard/edc-model-wrapper.git@master#egg=edc_model_wrapper
git+https://github.com/botswana-harvard/edc-offstudy.git@master#egg=edc_offstudy
git+https://github.com/botswana-harvard/edc-protocol.git@master#egg=edc_protocol
git+https://github.com/botswana-harvard/edc-reference.git@master#egg=edc_reference
git+https://github.com/botswana-harvard/edc-registration.git@master#egg=edc_registration
git+https://github.com/botswana-harvard/edc-rest.git@master#egg=edc_rest
git+https://github.com/botswana-harvard/edc-search.git@master#egg=edc_search
git+https://github.com/botswana-harvard/edc-sync-files.git@master#egg=edc_sync_files
git+https://github.com/botswana-harvard/edc-sync.git@master#egg=edc_sync
git+https://github.com/botswana-harvard/edc-timepoint.git@master#egg=edc_timepoint
git+https://github.com/botswana-harvard/edc-visit-schedule.git@master#egg=edc_visit_schedule
git+https://github.com/botswana-harvard/edc-visit-tracking.git@master#egg=edc_visit_tracking
git+https://github.com/botswana-harvard/enumeration.git@master#egg=enumeration
git+https://github.com/botswana-harvard/getresults-identifier.git@master#egg=getresults_identifier
git+https://github.com/botswana-harvard/household-dashboard.git@master#egg=household_dashboard
git+https://github.com/botswana-harvard/household.git@master#egg=household
git+https://github.com/botswana-harvard/member-clone.git@master#egg=member_clone
git+https://github.com/botswana-harvard/member-dashboard.git@master#egg=member_dashboard
git+https://github.com/botswana-harvard/member-form-validators.git@master#egg=member_form_validators
git+https://github.com/botswana-harvard/member.git@master#egg=member
git+https://github.com/botswana-harvard/plot-dashboard.git@master#egg=plot_dashboard
git+https://github.com/botswana-harvard/plot-form-validators.git@master#egg=plot_form_validators
git+https://github.com/botswana-harvard/plot.git@master#egg=plot
git+https://github.com/botswana-harvard/survey.git@master#egg=survey
git+https://github.com/erikvw/django-crypto-fields.git@master#egg=django_crypto_fields
git+https://github.com/erikvw/django-revision.git@master#egg=django_revision