  {% extends 'bcpp_dashboard/bcpp_base.html' %}

  {% load staticfiles %}
  {% load crispy_forms_tags %}

  {% block extra-scripts %}
    <script type="text/javascript" src="{% static "" %}"></script>
  {% endblock extra-scripts %}


  {% block settings_url %}
  <li id="li-topbar-settings"><a class="glyphicon glyphicon-wrench" title="settings" href="#"></a></li>
  <li id="li-topbar-settings"><a class="fa fa-group" title="settings" href="#"></a></li>
  {% endblock settings_url %}

  {% block main %}

   <div class="container">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-info">
              <div class="panel-heading"> <span> BHS Subjects </span>
                <span class="pull-right"> {% crispy form %} </span>
                </div>
                  <table class="table table-striped table-responsive">
        			<thead>
        				<th> Dashboard </th>
        				<th> Survey </th>
        				<th> Gender </th>
        				<th> Name </th>
        				<th> Surname </th>
        				<th> Initials </th>
        				<th> Gender </th>
        				<th> DOB </th>
        				<th> Age </th>
        				<th> Consent Date </th>
        				<th> HIV Result </th>
        				<th> User Created </th>
        				<th> Gender </th>
        				<th> Created </th>
        				<th> Host </th>
        			</thead>
        			<tbody>
      							
          				<tr> 
            				<td>  </td>
            				<td>  </td>
            				<td>  </td>  
            				<td>  </td>  
            				<td>  </td>  
            				<td>  </td>  
            				<td>  </td>  
            				<td>  </td>  
            				<td>  </td>  
            				<td>  </td>  
            				<td>  </td>  
            				<td>  </td>  
            				<td>  </td>  
            				<td>  </td>  
            				<td>  </td>                    
            			</tr>						
     				<t/body>
     			</table>
                <div class="panel-body">
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>

{% endblock main %}