  {% extends 'bcpp_base.html' %}

  {% load staticfiles %}
  {% load crispy_forms_tags %}

  {% block extra-scripts %}
    <script type="text/javascript" src="{% static "" %}"></script>
  {% endblock extra-scripts %}


  {% block settings_url %}
  <li id="li-topbar-settings"><a class="glyphicon glyphicon-wrench" title="settings" href="#"></a></li>
  <li id="li-topbar-settings"><a class="fa fa-group" title="settings" href="#"></a></li>
  {% endblock settings_url %}

  {% block main %}

   <div class="container">
   <div class="row">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-info">
              <div class="panel-heading">
              	<a title="add plot" href="{% url 'plot_admin:plot_plot_add' %}?next=plot_search_url" class="btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Add Plot</a>
                <span class="pull-right">{% crispy form %}</span>
                </div>
                <div class="panel-body">
                  {% if results %}
                    <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                      <thead>
                      		<th>#</th>
                      		<th>Plot</th>
                      		<th>Action</th>
                      		<th>Status</th>
                      		<th>Households</th>
                      		<th>Members</th>
                      		<th>Log Report</th>
                      		<th>Map</th>
                      		<th>Community</th>
                      		<th>GPS Radius</th>
                      		<th>Modified Date</th>
                      </thead>
                      <tbody>
                        {% for obj, log, entry in results %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a role="button" class="btn btn-sm btn-success" href="{% url 'plot_admin:plot_plot_change' obj.id %}?next=plot_search_url"><span class="glyphicon glyphicon-pencil"></span>  {{ obj.plot_identifier }}</a></td>
                            <td>
                            	{% if obj.confirmed %}
                            		<span class="text-primary">confirmed</span>
                            	{% else %}
                            		<span class="text-warning">unconfirmed</span>
                            	{% endif %}
                            </td>
                            <td>{{ obj.status }}</td>
                            <td><a role="button" class="btn btn-sm btn-default" href="#"><span class="badge">{{ obj.household_count }}</span> Household</a></td>
                            <td><a role="button" class="btn btn-sm btn-default" href="#"><span class="badge">{{ obj.eligible_members }}</span> Members</a></td>
                            <td>
                            	{% if entry %}
                            		<a role="button" class="btn btn-sm btn-success" href="{% url 'plot_admin:plot_plotlogentry_change' entry.pk %}?plot_log={{log.pk}}&next=plot_search_url"><span class="glyphicon glyphicon-pencil"></span>Edit Entry</a>
                            	{% else %}
                            		<a role="button" class="btn btn-sm btn-success" href="{% url 'plot_admin:plot_plotlogentry_add' %}?plot_log={{log.pk}}&next=plot_search_url"><span class="glyphicon glyphicon-plus"></span>Add New Entry</a>
                            	{% endif %}
                            </td>
                            <td>
                            	{% if obj.confirmed %}
                            		<a role="button" class="btn btn-sm btn-success" href="#"><span class="glyphicon glyphicon-map-marker"></span> View Map</a>
                            	{% else %}
                            		<span class="glyphicon glyphicon-map-marker"><small><span class="text-danger">missing lat/lon</span></small></span>
                            	{% endif %}
                            </td>
                            <td>{{ obj.community }}</td>
                            <td></td>
                            <td>{{ obj.modified|date:"Y-m-d H:i" }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% include 'paginator.html' %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
    </div>      
   <div class="row">
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">Reports</div>
            <div class="panel-body">
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">Statistics</div>
            <div class="panel-body">
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning">
          <div class="panel-heading">Edc Administration</div>
            <div class="panel-body">
              <a role="button" class="btn btn-sm btn-default btn-block" href="{% url 'plot_admin:index' %}">Plots</a>
              <a role="button" class="btn btn-sm btn-default btn-block" href="{% url 'household_admin:index' %}">Households</a>
              <a role="button" class="btn btn-sm btn-default btn-block" href="{% url 'member_admin:index' %}">Member</a>
              <a role="button" class="btn btn-sm btn-default btn-block" href="{% url 'bcpp_subject_admin:index' %}">Subjects</a>
            </div>
        </div>
        </div>
      </div>
    </div>

{% endblock main %}