{% extends 'edc_base/base.html' %}

{% load staticfiles %}

{% block extra-scripts %}
{{ block.super }}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $("#success-alert").fadeTo(1000, 500).slideUp(500, function(){
        $("#success-alert").slideUp(500);
    });    
});
</script>
{% endblock extra-scripts %} 

{% block extra-styles %}
{{ block.super }}
  .panel-extended {
    min-height: 200px;
    overflow-y: scroll;
  }
{% endblock %}

{% block topbar_title %}
  <span class="navbar-brand">{% if protocol %}{{ protocol }}: {% endif %}{{ protocol_name |default:project_name }} {{ device_role }} {{ device_id }} {{ map_area }}</span>
{% endblock topbar_title %}


{% block topbar_navbar_extra_items %}

    {{ block.super }}
    {{ navbar.name }}
    <li id="li-topbar-anonymous"
       class="{%if navbar_name == 'anonymous' %}active{%endif%}">
        <a title="Anonymous"
            href="{% url 'bcpp_subject_dashboard:anonymous_listboard_url' %}">
            <span {%if navbar_name == 'anonymous' %}class="text text-danger"{% endif %}>
                <i class="fa fa-user-secret fa-lg fa-fw"></i>
            </span>
            
        </a>
    </li>
    

{% endblock topbar_navbar_extra_items %}


{% block settings_url %}

  <li id="li-topbar-administration" class="{%if navbar_item_selected == 'administration' %}active{%endif%}">
    <a class="glyphicon glyphicon-wrench" title="administration" href="{% url 'administration_url' %}">
    </a>
  </li>

{% endblock settings_url %}

{% block modals %}

{{ block.super }}

    {% include 'bcpp/help_modal.html' %}
    {% include 'bcpp/anonymous_modal.html' %}
    {% include 'enumeration/dashboard/members/anonymous_modal.html' %}

{% endblock modals %}
