{% extends base_template_name %}
{% load staticfiles %}

{% block main %}

<style>

.bg-1 {
    background-color: #428bca; /* dark blue */
    color: #ffffff;
}
.bg-2 {
    background-color: #5bc0de; /* light Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #f9f9f9; /* White */
    color: #555555;
}

</style>

    {{ block.super }}

<div class="container bg-3 text-center">
	<h3 class="text text-muted">Start by locating and confirming a plot.</h3>
		<h3>
			<a href="{% url plot_listboard_url_name %}" class="btn btn-default btn-lg"><i class="fa fa-building fa-lg"></i> Plots</a>
		</h3>


</div>
<div class="container bg-3 text-center">
<h3 class="text text-muted">Next is enumeration and participation</h3>
<h3>
	<a href="{% url enumeration_listboard_url_name %}" class="btn btn-default btn-lg">
	   <i class="fa fa-sitemap fa-lg"></i> Household</a>
	<a data-toggle="modal" data-target="#anonymousModal" href="#" class="btn btn-default btn-lg">
	   <i class="fa fa-user-secret fa-lg"></i> Anonymous</a>		
</h3>

</div>

<div class="container bg-3 text-center">
<h3 class="text text-muted">Jump straight to a member or participant ...</h3>
	<h3>
	<a href="{% url member_listboard_url_name %}" class="btn btn-default btn-lg"><i class="fa fa-group fa-lg"></i> Members</a>
	<a href="{% url bcpp_subject_listboard_url_name %}" class="btn btn-default btn-lg"><i class="fa fa-user-circle-o fa-lg"></i> Subject</a>
	</h3>
</div>

<div class="container bg-3 text-center">
<h3 class="text text-muted">Transfer data to the server...</h3>
	<h3>
	<a href="{% url 'edc_sync:home_url' %}" class="btn btn-default btn-lg"><i class="fa fa-exchange fa-lg"></i> Synchronization</a>
	</h3>
</div>


{% endblock main %}
