
<!-- begin bcpp_navbar -->

<li class="{%if navbar_selected == 'plot' %}active{%endif%}">
	<a href="{% url plot_listboard_url_name %}">Plots</a>
</li>
<li class="{%if navbar_selected == 'household' %}active{%endif%}">
	<a class="{%if navbar_selected == 'household' %}active{%endif%}"
		href="{% url household_listboard_url_name %}">Households</a>
</li>
<li class="{%if navbar_selected == 'enumeration' %}active{%endif%}">
	<a class="{%if navbar_selected == 'enumeration' %}active{%endif%}"
		href="{% url enumeration_listboard_url_name %}">Enumeration</a>
</li>
<li class="{%if navbar_selected == 'member' %}active{%endif%}">
	<a href="{% url member_listboard_url_name %}">Members</a>
</li>
<li class="{%if navbar_selected == 'bcpp_subject' %}active{%endif%}">
	<a href="{% url bcpp_subject_listboard_url_name %}">Subjects</a>
</li>
<li class="{%if navbar_selected == 'bcpp_clinic' %}active{%endif%}">
	<a href="#">Clinic Subjects</a>
</li>

<li><a data-toggle="modal" data-target="#helpModal" href="#"><i class="fa fa-question-circle fa-lg"></i> </a></li>

<!-- end bcpp_navbar -->
