{% extends "bcpp_base.html" %}
{% load staticfiles %}

{% block extra-scripts %}
{{ block.super }}
{% endblock extra-scripts %} 

{% block main %}
<div class="container">
	<h4>Year 1 Survey</h4>
   <div class="row">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-info">
              <div class="panel-heading clearfix">Household Log Entries
                <span class="pull-right">
                	<a title="add h log entry" href="{% url 'household_admin:household_householdlogentry_add' %}?household_log={{household_log.id}}&next={% url 'enumeration_dashboard_url' household_identifier %}" class="btn btn-sm btn-default" role="button">
                		<span class="glyphicon glyphicon-plus">
                	</span> Add a household log entry</a>
                </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                    {% if household_log_entries %}
                    <table class="table table-striped table-responsive">
                      <thead>
                      		<th>log entry</th>
                      		<th>Date</th>
                      		<th>HBC</th>
                      		<th>Next Appt</th>
                      		<th>Appt Source</th>
                      		<th>Comment</th>
                      		<th>Updated</th>
                      </thead>
                      <tbody>
                          {% for household_log_entry in household_log_entries %}
                            <tr>
                            <td><a role="button" class="btn btn-sm btn-success" href="{% url 'household_admin:household_householdlogentry_change' household_log_entry.id %}?next={% url 'enumeration_dashboard_url' household_identifier %}"><span class="glyphicon glyphicon-pencil"></span>  Edit log entry</a></td>
                            <td>{{ household_log_entry.report_datetime }}</td>
                            <td>{{ household_log_entry.user_created }}</td>
                            <td>{{ household_log_entry.next_appt_datetime }}</td>
                            <td>{{ household_log_entry.next_appt_datetime_source }}</td>
                            <td>{{ household_log_entry.comment }}</td>
                            <td>{{ household_log_entry.modified }}</td></tr>
                          {% endfor %}
                      </tbody>
                    </table>
                    {% else %}
                    <p>There are no household log entries</p>
                    {% endif %}
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-info">
              <div class="panel-heading clearfix">
              <strong>Household:</strong><span style="margin-left:5px;">123123123-12 | <strong>Household Status</strong>: {% if household_structure.enrolled %} Enrolled {% else %}Not Enrolled{% endif %}</span>
                <span class="pull-right">
                <a title="add household member" href="{% url 'member_admin:member_householdmember_add' %}?household_structure={{household_structure.id}}&next={% url 'enumeration_dashboard_url' household_identifier %}" class="btn btn-sm btn-default" role="button">
              	<span class="glyphicon glyphicon-plus"></span> Add a household member</a>
              	{% if not representative_eligibility %}
	              	<a title="add representative eligibility" href="{% url 'member_admin:member_representativeeligibility_add' %}?household_structure={{household_structure.id}}" class="btn btn-sm btn-default" role="button">
	              	<span class="glyphicon glyphicon-plus"></span> Add a Representative Eligibility</a>
              	{% endif %}
              	{% if not head_of_household_eligibility %}
	              	<a title="add head of household eligibility" href="{% url 'member_admin:member_householdheadeligibility_add' %}?household_member={{head_of_household.id}}&next={% url 'enumeration_dashboard_url' household_identifier %}" class="btn btn-sm btn-default" role="button">
	              	<span class="glyphicon glyphicon-plus"></span> Add Head of Household Eligibility</a>
              	{% else %}
              		<a role="button" class="btn btn-sm btn-success" href="{% url 'member_admin:member_householdheadeligibility_change' head_of_household_eligibility.id %}?next={% url 'enumeration_dashboard_url' household_identifier %}"><span class="glyphicon glyphicon-pencil"></span>Edit Head of Household Eligibility</a>
              	{% endif %}
                </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                    {% if household_members %}
                    <table class="table table-striped table-responsive">
                      <thead>
                      		<th>Firstname</th>
                      		<th>Initials</th>
                      		<th>Sex</th>
                      		<th>Age</th>
                      		<th>Relation</th>
                      		<th>Resident</th>
                      		<th>Attempts</th>
                      		<th>Participation</th>
                      		<th>Report/Action</th>
                      		<th>Subject Dashboard</th>
                      </thead>
                      <tbody>
                          {% for household_member in household_members %}
                            <tr>
                            <td>
                            <a role="button" class="btn btn-sm btn-success" href="{% url 'member_admin:member_householdmember_change' household_member.id %}?next={% url 'enumeration_dashboard_url' household_identifier %}"><span class="glyphicon glyphicon-pencil"></span> {{ household_member.first_name }}</a>
                            </td>
                            <td>{{ household_member.initials }}</td>
                            <td>{{ household_member.gender }}</td>
                            <td>{{ household_member.age_in_years }}</td>
                            <td>{{ household_member.survival_status }}</td>
                            <td>{{ household_member.relation }}</td>
                            <td>{{ household_member.study_resident }}</td>
                            <td>{{ household_member.visit_attempts }}</td>
                            <td>{{ household_member.member_status }}</td>
                            <td>
                            {% if not household_member.enrollment_eligibility %}
				              	<a title="add enrollment eligibility" href="{% url 'member_admin:member_enrollmentchecklist_add' %}?household_member={{household_member.id}}&next={% url 'enumeration_dashboard_url' household_identifier %}" class="btn btn-sm btn-default" role="button">
				              	<span class="glyphicon glyphicon-plus"></span> Add Head of Household Eligibility</a>
			              	{% else %}
			              		<a role="button" class="btn btn-sm btn-success" href="{% url 'member_admin:member_enrollmentchecklist_change' household_member.id %}?next={% url 'enumeration_dashboard_url' household_identifier %}"><span class="glyphicon glyphicon-pencil"></span>Edit Enrolment Eligibility</a>
			              	{% endif %}
                            </td>
                           </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                    {% else %}
                    	<p>There are no household members</p>
                    {% endif %}
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
	
	<div class="row">
      <div class="col-md-6">
        <div class="panel-group">
          <div class="panel panel-warning">
              <div class="panel-heading clearfix">SURVEYS</div>
                <div class="panel-body">
					<ul>
						<li>BCPP Year 1 2013-10-18 - 2015-04-30 (showing)</li>
						<li>BCPP Year 3 2015-12-01 - 2017-12-31</li>
						<li>BCPP Year 2 2016-01-18 - 2015-11-30</li>
					</ul>
                </div>
           </div>
          </div>
       </div>
    
      <div class="col-md-6">
        <div class="panel-group">
          <div class="panel panel-success">
              <div class="panel-heading">Stats</div>
                <div class="panel-body">
					<ul>
						<li>Total members: 4 </li>
						<li>Total consented: 3</li>
						<li>Total POS: 1</li>
					</ul>
                </div>
           </div>
          </div>
       </div>
    </div>
</div>
{% endblock main %}
