{% extends "bcpp_base.html" %}
{% load staticfiles %}

{% block extra-scripts %}
{{ block.super }}
{% endblock extra-scripts %} 

{% block main %}
<div class="container">
   <div class="row">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-info">
              <div class="panel-heading clearfix">HOUSEHOLD LOG FOR {{survey}}
                <span class="pull-right">
                	<a title="add h log entry" href="{% url 'household_admin:household_householdlogentry_add' %}" class="btn btn-sm btn-default" role="button">
                		<span class="glyphicon glyphicon-plus">
                	</span> Add a household log entry</a>
                </span>
                </div>
                <div class="panel-body">
                	{% if not household_log_entries %}
                    <div class="table-responsive">
                    <table class="table table-striped table-responsive">
                      <thead>
                      		<th>Date</th>
                      		<th>HBC</th>
                      		<th>Next Appt</th>
                      		<th>Appt Source</th>
                      		<th>Comment</th>
                      		<th>Updated</th>
                      </thead>
                      <tbody>
                          {% for household_log_entry in household_log_entries %}
                            <tr><td>a</td>
                            <td>b</td>
                            <td>c</td>
                            <td>d</td>
                            <td>g</td>
                            <td>w</td></tr>
                          {% endfor %}
                      </tbody>
                    </table>
                    {% endif %}
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-info">
              <div class="panel-heading clearfix">
              HOUSEHOLD COMPOSITION FOR  YEAR 1{{survey}}
                <span class="pull-right">
                <a title="add h log entry" href="{% url 'household_admin:household_householdlogentry_add' %}" class="btn btn-sm btn-default" role="button">
              	<span class="glyphicon glyphicon-plus"></span> Add a household member</a>
                </span>
                </div>
                <div class="panel-body">
                	<p class="bg-warning">
					<strong>Household:</strong><span style="margin-left:5px;">123123123-12</span>
					<strong>Members:</strong><span style="margin-left:5px;">4</span>
					<span class="pull-right"><strong>Household Status</strong>: Enrolled</span>
					</p><hr />
                	{% if not household_members %}
                    <div class="table-responsive">
                    <table class="table table-striped table-responsive">
                      <thead>
                      		<th>Firstname</th>
                      		<th>Initials</th>
                      		<th>Sex</th>
                      		<th>Age</th>
                      		<th>Survival Status</th>
                      		<th>Relation</th>
                      		<th>Resident</th>
                      		<th>Attempts</th>
                      		<th>Comment</th>
                      		<th>Updated</th>
                      </thead>
                      <tbody>
                          {% for household_member in household_members %}
                            <tr><td>a</td>
	                            <td>b</td>
	                            <td>c</td>
	                            <td>d</td>
	                            <td>g</td>
	                            <td>g</td>
	                            <td>g</td>
	                            <td>g</td>
	                            <td>g</td>
	                            <td>w</td>
                           </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                    {% endif %}
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>      
</div>
{% endblock main %}
