  {% extends 'bcpp_base.html' %}

  {% load staticfiles %}
  {% load crispy_forms_tags %}

  {% block extra-scripts %}
    <script type="text/javascript" src="{% static "" %}"></script>
  {% endblock extra-scripts %}


  {% block settings_url %}
  <li id="li-topbar-settings"><a class="glyphicon glyphicon-wrench" title="settings" href="#"></a></li>
  <li id="li-topbar-settings"><a class="fa fa-group" title="settings" href="#"></a></li>
  {% endblock settings_url %}

  {% block main %}

    {% include 'plot/list.html' %}

  {% endblock main %}